@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*------------------------------------*/
@font-face {
  font-family: "AlfaS lab One";
  src: url("./../fonts/AnyConv.com__AlfaSlabOne-Regular.woff") format("woff"), url("./../fonts/AnyConv.com__AlfaSlabOne-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("./../fonts/AnyConv.com__BebasNeue-Regular.woff") format("woff"), url("./../fonts/AnyConv.com__BebasNeue-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Bbas Neuee";
  src: url("./../fonts/AnyConv.com__ofont.ru_Bebas Neue.woff") format("woff"), url("./../fonts/AnyConv.com__ofont.ru_Bebas Neue.woff2") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
.none {
  display: none !important;
}

body {
  background-color: #ccc;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__row {
  max-width: 1330px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.logo__img {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: -7px;
}
.logo__img:hover:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.nav__row-info {
  margin-top: 4px;
}

.row-info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(61, 37, 20);
  font-weight: bold;
  line-height: 5;
  letter-spacing: -0.05rem;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.info__top-img {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top__span {
  letter-spacing: 0.025rem;
}

.top__num {
  color: rgb(61, 37, 20);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-left: 2px;
}
.top__num:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: blue;
}

.burger-btn {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  display: none;
}
.burger-btn span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-btn span:first-child {
  top: 0;
}
.burger-btn span:last-child {
  top: auto;
  bottom: 0;
}
.burger-btn.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.burger-btn.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger-btn.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.row-info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}

.nav__item {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: blue;
}

.nav__link {
  font-size: 21px;
  font-family: "Bebas Neue";
  letter-spacing: 0.22rem;
  color: rgb(61, 37, 20);
  text-transform: uppercase;
}
.nav__link:hover {
  color: blue;
}

@media (max-width: 1440px) {
  .row-info__top {
    gap: 8px;
  }
  .nav__menu {
    gap: 3.88vw;
  }
}
@media (max-width: 1400px) {
  .nav__row-logo {
    margin-left: 2.77vw;
  }
}
@media (max-width: 1380px) {
  .row-info__top {
    padding-right: 10px;
  }
  .nav__menu {
    padding-right: 10px;
  }
}
@media (max-width: 1020px) {
  .logo__img {
    max-width: 95%;
  }
  .nav__link {
    font-size: 20px;
  }
  .row-info__top {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .nav__row-logo {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 1;
  }
  .row-info__top {
    position: absolute;
    top: -30px;
    left: 2.6vw;
    z-index: 1;
  }
}
@media (max-width: 575px) {
  .row-info__top {
    width: 500px;
    font-size: 16px;
    position: absolute;
    top: -30px;
    left: -50px;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
  .nav__row-logo {
    top: 60px;
    left: 200px;
    margin: 0px 0px 0px 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
}
.header__row {
  height: 825px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow: hidden;
}

.header__info {
  position: absolute;
  top: 142px;
}

.header__subtitle {
  min-width: 400px;
  font-size: 23px;
  font-family: "Bebas Neue";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.008rem;
  text-align: left;
  position: absolute;
  top: 154px;
  left: 81px;
  z-index: 1;
}

.sub-retangle {
  margin-top: 144px;
  margin-left: 63px;
}

.header__title {
  font-size: 114px;
  font-family: "AlfaS lab One";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 0.54;
  text-align: left;
  text-shadow: 3.936px 4.528px 0px rgb(254, 232, 188);
  position: absolute;
  top: 238px;
  left: 60px;
  z-index: 1;
}

.header__suptitle {
  font-size: 57px;
  font-family: "AlfaS lab One";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 1.093;
  text-align: left;
  text-shadow: 3.936px 4.528px 0px rgb(254, 232, 188);
  position: absolute;
  top: 329px;
  left: 60px;
  z-index: 1;
}

.header-img {
  position: relative;
  left: 483px;
  top: -20px;
  z-index: 1;
}

.ellipse__img {
  position: absolute;
  top: 771px;
  left: 220px;
  z-index: 1;
}

.burger-price {
  font-family: "Bebas Neue";
  position: absolute;
  top: 822px;
  left: 267px;
  z-index: 1;
  color: rgb(255, 255, 255);
  line-height: 0.543;
  font-size: 70px;
}

.price__num {
  font-size: 30px;
  margin-top: 16px;
  margin-left: -12px;
}

.price__txt {
  font-size: 35px;
  margin-left: 0px;
  letter-spacing: 0.7rem;
}

@media (max-width: 1440px) {
  .header__info {
    position: absolute;
    top: 142px;
    margin-left: -20px;
  }
  .header-img {
    left: 463px;
  }
}
@media (max-width: 1330px) {
  .header__row {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-img {
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    top: 175px;
  }
  .header__info {
    position: absolute;
    top: 142px;
    left: 50%;
    -webkit-transform: translate(-65%);
        -ms-transform: translate(-65%);
            transform: translate(-65%);
  }
}
@media (max-width: 1200px) {
  .header__row {
    height: 970px;
  }
  .header__info {
    top: 100px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
  .header__subtitle {
    font-size: 20px;
  }
  .header__title {
    font-size: 94px;
  }
  .header__suptitle {
    font-size: 37px;
  }
  .header__img {
    max-width: 70%;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    margin-top: 60px;
  }
  .ellipse__img {
    max-width: 12%;
    top: 571px;
    left: 300px;
  }
  .burger-price {
    top: 617px;
    left: 338px;
    font-size: 45px;
    line-height: 0.6;
  }
  .price__num {
    font-size: 20px;
    margin-left: 0.1px;
  }
  .price__txt {
    font-size: 26px;
    margin-left: 0px;
  }
}
@media (max-width: 1020px) {
  .header__row {
    height: 860px;
  }
  .header__info {
    top: 90px;
  }
  .header__subtitle {
    font-size: 18px;
    margin-top: -1px;
  }
  .sub-retangle {
    width: 70%;
  }
  .header__title {
    font-size: 74px;
    margin-top: -5px;
  }
  .header__suptitle {
    font-size: 30px;
    margin-top: -30px;
  }
  .header__img {
    margin-top: 45px;
  }
  .ellipse__img {
    max-width: 10%;
    top: 510px;
    left: 290px;
  }
  .burger-price {
    top: 540px;
    left: 315px;
    font-size: 30px;
    line-height: 0.75;
  }
  .price__num {
    font-size: 16px;
    margin-left: 0.1px;
  }
  .price__txt {
    font-size: 20px;
    margin-left: 0px;
    letter-spacing: 0.5rem;
  }
}
@media (max-width: 990px) {
  .burger-price {
    top: 537px;
  }
  .ellipse-img {
    margin-top: 10vw;
  }
}
@media (max-width: 924px) {
  .header__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 880px) {
  .header__subtitle {
    font-size: 16px;
    margin-left: 10px;
  }
}
@media (max-width: 685px) {
  .header__subtitle {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .row-info__top {
    display: none;
  }
  .burger-btn {
    display: block;
    left: 85vw;
  }
  .row-info__bottom {
    position: absolute;
    top: -33px;
    left: -120%;
    height: 100vh;
    width: 100%;
    background-color: #d81b1b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: auto;
    z-index: 1;
  }
  .row-info__bottom.active {
    left: 0;
  }
  .row-info__bottom .nav__menu {
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    margin: auto;
  }
  .row-info__bottom .nav__link {
    display: block;
    font-size: 45px;
    line-height: 90px;
    color: aqua;
  }
  .row-info__bottom .nav__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .row-info__bottom .search__img {
    display: none;
  }
  .nav__row-logo {
    max-width: 60%;
    top: 70px;
  }
  .header__row {
    height: 700px;
  }
  .header__info {
    top: 40px;
  }
  .header__subtitle {
    font-size: 14px;
    margin-top: -4px;
    margin-left: -14px;
  }
  .sub-retangle {
    width: 80%;
  }
  .header__title {
    font-size: 60px;
    margin-top: -20px;
  }
  .header__suptitle {
    font-size: 20px;
    margin-top: -50px;
  }
  .header__img {
    margin-top: 50px;
  }
  .ellipse__img {
    max-width: 9%;
    top: 400px;
    left: 215px;
  }
  .burger-price {
    top: 420px;
    left: 232px;
    font-size: 20px;
    line-height: 0.8;
  }
  .price__num {
    font-size: 14px;
  }
  .price__txt {
    font-size: 16px;
    margin-left: -3px;
    letter-spacing: 0.3rem;
  }
}
@media (max-width: 575px) {
  .nav__link {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav__link:hover {
    color: blue;
  }
  .nav__row-logo {
    top: 60px;
  }
  .header__img {
    max-width: 100%;
    margin-left: 50%;
    -webkit-transform: translate(-45%);
        -ms-transform: translate(-45%);
            transform: translate(-45%);
    margin-top: 15px;
  }
  .ellipse__img {
    max-width: 13%;
    top: 390px;
    left: 150px;
  }
  .burger-price {
    top: 410px;
    left: 170px;
  }
}
@media (max-width: 480px) {
  .nav__link {
    font-size: 40px !important;
  }
  .burger-btn {
    display: block;
    left: 82vw;
  }
  .header__subtitle {
    font-size: 14px;
    margin-top: -3px;
    margin-left: -45px;
  }
  .sub-retangle {
    width: 100%;
    margin-left: 50%;
    -webkit-transform: translate(-40%);
        -ms-transform: translate(-40%);
            transform: translate(-40%);
  }
  .header__title {
    font-size: 55px;
    margin-top: -30px;
    left: 50%;
    -webkit-transform: translate(-40%);
        -ms-transform: translate(-40%);
            transform: translate(-40%);
  }
  .header__suptitle {
    font-size: 20px;
    margin-top: -65px;
    left: 50%;
  }
  .header__img {
    margin-top: 40px;
  }
  .ellipse__img {
    max-width: 15%;
    top: 340px;
    left: 105px;
  }
  .burger-price {
    top: 359px;
    left: 123px;
  }
}
@media (max-width: 400px) {
  .burger-btn {
    left: 81vw;
  }
}
@media (max-width: 320px) {
  .nav__link {
    font-size: 30px !important;
  }
  .burger-btn {
    display: block;
    width: 30px;
    height: 17px;
    left: 76vw;
  }
  .nav__row-logo {
    min-width: 65%;
    top: 50px;
  }
  .header__row {
    height: 530px;
  }
  .header__info {
    top: 5px;
  }
  .header__subtitle {
    font-size: 14px;
    margin-top: -3px;
    margin-left: -45px;
  }
  .sub-retangle {
    min-width: 250px;
    height: 30px;
  }
  .header__title {
    font-size: 40px;
    margin-top: -40px;
  }
  .header__suptitle {
    font-size: 20px;
    margin-top: -90px;
  }
  .header__img {
    max-width: 130%;
    margin-top: 1px;
  }
  .ellipse__img {
    max-width: 20%;
    top: 260px;
    left: 50px;
  }
  .burger-price {
    top: 273px;
    left: 63px;
    font-size: 20px;
    line-height: 0.8;
  }
  .price__num {
    font-size: 14px;
  }
  .price__txt {
    font-size: 16px;
    margin-left: -3px;
    letter-spacing: 0.3rem;
  }
}