@forward "./zeroing.scss";

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700);

@font-face {
  font-family: "AlfaS lab One";
  src: url("./../fonts/AnyConv.com__AlfaSlabOne-Regular.woff") format("woff"),
    url("./../fonts/AnyConv.com__AlfaSlabOne-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./../fonts/AnyConv.com__BebasNeue-Regular.woff") format("woff"),
    url("./../fonts/AnyConv.com__BebasNeue-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bbas Neuee";
  src: url("./../fonts/AnyConv.com__ofont.ru_Bebas\ Neue.woff") format("woff"),
    url("./../fonts/AnyConv.com__ofont.ru_Bebas\ Neue.woff2") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

.none {
  display: none !important;
}

body {
  background-color: #ccc;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

//------------ NAV -----------------------

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__row {
  max-width: 1330px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.logo__img {
  cursor: pointer;
  transition: .3s ease;
  margin-top: -7px;

  &:hover {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.nav__row-info {
  margin-top: 4px;
}

.row-info__top {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(61, 37, 20);
  font-weight: bold;
  line-height: 5;
  letter-spacing: -.05rem;
  text-align: right;
  justify-content: end;
}

.info__top-img {
  cursor: pointer;
  transition: .3s ease;
}

.top__span {
  letter-spacing: .025rem;
}

.top__num {
  color: rgb(61, 37, 20);
  transition: .3s ease;
  margin-left: 2px;

  &:hover {
    transform: scale(1.05);
    color: blue;
  }
}

.burger-btn {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  display: none;

  span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: .3s;

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }

  &.active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

.row-info__bottom {
  display: flex;
  position: relative;
}

.nav__menu {
  display: flex;
  gap: 56px;
}

.nav__item {
  transition: .3s ease;

  &:hover {
    transform: scale(1.1);
    color: blue;
  }
}

.nav__link {
  font-size: 21px;
  font-family: "Bebas Neue";
  letter-spacing: .22rem;
  color: rgb(61, 37, 20);
  text-transform: uppercase;

  &:hover {
    color: blue;
  }
}


@media (max-width: 1440px) {
  .row-info__top {
    gap: 8px;
  }

  .nav__menu {
    gap: 3.88vw;
  }
}

@media (max-width: 1400px) {
  .nav__row-logo {
    margin-left: 2.77vw;
  }
}

@media (max-width: 1380px) {
  .row-info__top {
    padding-right: 10px;
  }

  .nav__menu {
    padding-right: 10px;
  }
}

@media (max-width: 1020px) {
  .logo__img {
    max-width: 95%;
  }

  .nav__link {
    font-size: 20px;
  }

  .row-info__top {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .nav__row-logo {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }

  .row-info__top {
    position: absolute;
    top: -30px;
    left: 2.6vw;
    z-index: 1;
  }
}

@media (max-width: 575px) {
  .row-info__top {
    width: 500px;
    font-size: 16px;
    position: absolute;
    top: -30px;
    left: -50px;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .nav__row-logo {
    top: 60px;
    left: 200px;
    margin: 0px 0px 0px 0px;
    left: 50%;
    transform: translate(-50%);
  }
}

//------------ HEADER ---------------

.header__row {
  height: 825px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.header__info {
  position: absolute;
  top: 142px;
}

.header__subtitle {
  min-width: 400px;
  font-size: 23px;
  font-family: "Bebas Neue";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: .008rem;
  text-align: left;
  position: absolute;
  top: 154px;
  left: 81px;
  z-index: 1;
}

.sub-retangle {
  margin-top: 144px;
  margin-left: 63px;
}

.header__title {
  font-size: 114px;
  font-family: "AlfaS lab One";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 0.54;
  text-align: left;
  text-shadow: 3.936px 4.528px 0px rgb(254, 232, 188);
  position: absolute;
  top: 238px;
  left: 60px;
  z-index: 1;
}

.header__suptitle {
  font-size: 57px;
  font-family: "AlfaS lab One";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 1.093;
  text-align: left;
  text-shadow: 3.936px 4.528px 0px rgb(254, 232, 188);
  position: absolute;
  top: 329px;
  left: 60px;
  z-index: 1;
}

.header-img {
  position: relative;
  left: 483px;
  top: -20px;
  z-index: 1;
}

.ellipse__img {
  position: absolute;
  top: 771px;
  left: 220px;
  z-index: 1;
}

.burger-price {
  font-family: "Bebas Neue";
  position: absolute;
  top: 822px;
  left: 267px;
  z-index: 1;
  color: rgb(255, 255, 255);
  line-height: 0.543;
  font-size: 70px;
}

.price__num {
  font-size: 30px;
  margin-top: 16px;
  margin-left: -12px;
}

.price__txt {
  font-size: 35px;
  margin-left: 0px;
  letter-spacing: .7rem;
}

@media (max-width: 1440px) {
  .header__info {
    position: absolute;
    top: 142px;
    margin-left: -20px;
  }

  .header-img {
    left: 463px;
  }
}

@media (max-width: 1330px) {
  .header__row {
    height: auto;
    flex-direction: column;
  }

  .header-img {
    left: 50%;
    transform: translate(-50%);
    top: 175px;
  }

  .header__info {
    position: absolute;
    top: 142px;
    left: 50%;
    transform: translate(-65%);
  }
}

@media (max-width: 1200px) {
  .header__row {
    height: 970px;
  }

  .header__info {
    top: 100px;
    left: 50%;
    transform: translate(-50%);
  }

  .header__subtitle {
    font-size: 20px;
  }

  .header__title {
    font-size: 94px;
  }

  .header__suptitle {
    font-size: 37px;
  }

  .header__img {
    max-width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
  }

  .ellipse__img {
    max-width: 12%;
    top: 571px;
    left: 300px;
  }

  .burger-price {
    top: 617px;
    left: 338px;
    font-size: 45px;
    line-height: .6;
  }

  .price__num {
    font-size: 20px;
    margin-left: .1px;
  }

  .price__txt {
    font-size: 26px;
    margin-left: 0px;
  }
}

@media (max-width: 1020px) {
  .header__row {
    height: 860px;
  }

  .header__info {
    top: 90px;
  }

  .header__subtitle {
    font-size: 18px;
    margin-top: -1px;
  }

  .sub-retangle {
    width: 70%;
  }

  .header__title {
    font-size: 74px;
    margin-top: -5px;
  }

  .header__suptitle {
    font-size: 30px;
    margin-top: -30px;
  }

  .header__img {
    margin-top: 45px;
  }

  .ellipse__img {
    max-width: 10%;
    top: 510px;
    left: 290px;
  }

  .burger-price {
    top: 540px;
    left: 315px;
    font-size: 30px;
    line-height: .75;
  }

  .price__num {
    font-size: 16px;
    margin-left: .1px;
  }

  .price__txt {
    font-size: 20px;
    margin-left: 0px;
    letter-spacing: .5rem;
  }
}

@media (max-width: 990px) {
  .burger-price {
    top: 537px;
  }

  .ellipse-img {
    margin-top: 10vw;
  }
}

@media (max-width: 924px) {
  .header__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 880px) {
  .header__subtitle {
    font-size: 16px;
    margin-left: 10px;
  }
}

@media (max-width: 685px) {
  .header__subtitle {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .row-info__top {
    display: none;
  }

  .burger-btn {
    display: block;
    left: 85vw;
  }

  .row-info__bottom {
    position: absolute;
    top: -33px;
    left: -120%;
    height: 100vh;
    width: 100%;
    background-color: #d81b1b;
    display: flex;
    transition: .3s;
    overflow: auto;
    z-index: 1;

    &.active {
      left: 0;
    }

    .nav__menu {
      padding: 30px;
      flex-direction: column;
      gap: 0;
      margin: auto;
    }

    .nav__link {
      display: block;
      font-size: 45px;
      line-height: 90px;
      color: aqua;

      &:hover {
        transform: scale(1.1);
      }
    }

    .search__img {
      display: none;
    }
  }

  .nav__row-logo {
    max-width: 60%;
    top: 70px;
  }

  .header__row {
    height: 700px;
  }

  .header__info {
    top: 40px;
  }

  .header__subtitle {
    font-size: 14px;
    margin-top: -4px;
    margin-left: -14px;
  }

  .sub-retangle {
    width: 80%;
  }

  .header__title {
    font-size: 60px;
    margin-top: -20px;
  }

  .header__suptitle {
    font-size: 20px;
    margin-top: -50px;
  }

  .header__img {
    margin-top: 50px;
  }

  .ellipse__img {
    max-width: 9%;
    top: 400px;
    left: 215px;
  }

  .burger-price {
    top: 420px;
    left: 232px;
    font-size: 20px;
    line-height: .8;
  }

  .price__num {
    font-size: 14px;
  }

  .price__txt {
    font-size: 16px;
    margin-left: -1-2px;
    letter-spacing: .3rem;
  }
}

@media (max-width: 575px) {
  .nav__link {
    transition: .3s ease;

    &:hover {
      color: blue;
    }
  }

  .nav__row-logo {
    top: 60px;
  }

  .header__img {
    max-width: 100%;
    margin-left: 50%;
    transform: translate(-45%);
    margin-top: 15px;
  }

  .ellipse__img {
    max-width: 13%;
    top: 390px;
    left: 150px;
  }

  .burger-price {
    top: 410px;
    left: 170px;
  }
}

@media (max-width: 480px) {
  .nav__link {
    font-size: 40px !important;
  }

  .burger-btn {
    display: block;
    left: 82vw;
  }

  .header__subtitle {
    font-size: 14px;
    margin-top: -3px;
    margin-left: -45px;
  }

  .sub-retangle {
    width: 100%;
    margin-left: 50%;
    transform: translate(-40%);
  }

  .header__title {
    font-size: 55px;
    margin-top: -30px;
    left: 50%;
    transform: translate(-40%);
  }

  .header__suptitle {
    font-size: 20px;
    margin-top: -65px;
    left: 50%;
  }

  .header__img {
    margin-top: 40px;
  }

  .ellipse__img {
    max-width: 15%;
    top: 340px;
    left: 105px;
  }

  .burger-price {
    top: 359px;
    left: 123px;
  }
}

@media (max-width: 400px) {
  .burger-btn {
    left: 81vw;
  }

}

@media (max-width: 320px) {
  .nav__link {
    font-size: 30px !important;
  }

  .burger-btn {
    display: block;
    width: 30px;
    height: 17px;
    left: 76vw;
  }

  .nav__row-logo {
    min-width: 65%;
    top: 50px;
  }

  .header__row {
    height: 530px;
  }

  .header__info {
    top: 5px;
  }

  .header__subtitle {
    font-size: 14px;
    margin-top: -3px;
    margin-left: -45px;
  }

  .sub-retangle {
    min-width: 250px;
    height: 30px;
  }

  .header__title {
    font-size: 40px;
    margin-top: -40px;
  }

  .header__suptitle {
    font-size: 20px;
    margin-top: -90px;
  }

  .header__img {
    max-width: 130%;
    margin-top: 1px;
  }

  .ellipse__img {
    max-width: 20%;
    top: 260px;
    left: 50px;
  }

  .burger-price {
    top: 273px;
    left: 63px;
    font-size: 20px;
    line-height: .8;
  }

  .price__num {
    font-size: 14px;
  }

  .price__txt {
    font-size: 16px;
    margin-left: -1-2px;
    letter-spacing: .3rem;
  }
}

//------------------- BURGERS ---------


.burger__content {
  width: 100%;
  height: 550px;
  background-color: #fff;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;

  position: absolute;

  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);

  white-space: nowrap;
}

.burger__row {
  display: flex;
  justify-content: space-between;
  padding: 78px 97px 77px 110px;
}

.burgers-others {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

@media (max-width: 1440px) {
  .burger__row {
    display: flex;
    justify-content: space-between;
    padding: 78px 82px 77px 94px;
  }

  .burgers-others {
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
}

@media (max-width: 1400px) {
  .burger__content {
    height: auto;
  }

  .burger__row {
    padding: 50px 0px 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 650px) {
  .most-img,
  .fresh-img,
  .more-img {
    padding: 0px 10px;
  }
}

@media (max-width: 530px) {
  .most-img {
    margin-top: -15px;
  }
}

@media (max-width: 320px) {
  .burger__row {
    padding: 50px 0px 40px 0px;
    gap: 20px;
  }

  .burgers-others {
    gap: 20px;
  }
}
//----------- CHOOSE ------------------