@forward "./zeroing.scss";

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700);

@font-face {
  font-family: "AlfaS lab One";
  src: url("./../fonts/AnyConv.com__AlfaSlabOne-Regular.woff") format("woff"),
    url("./../fonts/AnyConv.com__AlfaSlabOne-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./../fonts/AnyConv.com__BebasNeue-Regular.woff") format("woff"),
    url("./../fonts/AnyConv.com__BebasNeue-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bbas Neuee";
  src: url("./../fonts/AnyConv.com__ofont.ru_Bebas\ Neue.woff") format("woff"),
    url("./../fonts/AnyConv.com__ofont.ru_Bebas\ Neue.woff2") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

.none {
  display: none !important;
}

body {
  background-color: #ccc;
}

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

//------------ NAV -----------------------

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__row {
  max-width: 1330px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.nav__row-logo {}

.logo__img {
  cursor: pointer;
  transition: .3s ease;
  margin-top: -7px;

  &:hover {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.nav__row-info {
  margin-top: 4px;

}

.row-info__top {
  display: flex;
  gap: 11px;
  align-items: center;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(61, 37, 20);
  font-weight: bold;
  line-height: 5;
  letter-spacing: -.05rem;
  text-align: right;
  justify-content: end;
}

.info__top-img {
  cursor: pointer;
  transition: .3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.top__span {}

.top__num {
  color: rgb(61, 37, 20);
  transition: .3s ease;
  margin-left: 2px;


  &:hover {
    transform: scale(1.05);
    color: blue;
  }
}

.row-info__bottom {
  display: flex;
}

.nav__menu {
  display: flex;
  gap: 56px;
}

.nav__item {}

.nav__link {
  font-size: 21px;
  font-family: "Bebas Neue";
  letter-spacing: .22rem;
  color: rgb(61, 37, 20);
  text-transform: uppercase;
}

//------------ HEADER ---------------------
.header {}

.header__row {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.header__info {
  position: absolute;
  top: 142px;
}

.header__subtitle {
  min-width: 400px;
  font-size: 23px;
  font-family: "Bebas Neue";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: .008rem;
  text-align: left;
  position: absolute;
  top: 154px;
  left: 81px;
  z-index: 1;
}

.sub-retangle {
  margin-top: 144px;
  margin-left: 63px;
}

.header__title {
  font-size: 114px;
  font-family: "AlfaS lab One";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 0.54;
  text-align: left;
  text-shadow: 3.936px 4.528px 0px rgb(254, 232, 188);
  position: absolute;
  top: 238px;
  left: 60px;
  z-index: 1;
}

.header__suptitle {
  font-size: 57px;
  font-family: "AlfaS lab One";
  color: rgb(61, 37, 20);
  text-transform: uppercase;
  line-height: 1.093;
  text-align: left;
  text-shadow: 3.936px 4.528px 0px rgb(254, 232, 188);
  position: absolute;
  top: 329px;
  left: 60px;
  z-index: 1;
}

.header-img {
  position: relative;
  left: 483px;
  top: -200px;
  z-index: 1;
}

.ellipse__img {
  position: absolute;
  top: 771px;
  left: 220px;
  z-index: 1;
}

.burger-price {
  font-family: "Bebas Neue";
  position: absolute;
  top: 822px;
  left: 267px;
  z-index: 1;
  color: rgb(255, 255, 255);
  line-height: 0.543;
  font-size: 70px;
}

.price__num {
  font-size: 30px;
  margin-top: 16px;
  margin-left: -12px;
}

.price__txt {
  font-size: 35px;
  margin-left: 0px;
  letter-spacing: .7rem;
}

@media (max-width: 1440px) {
.header__subtitle {
  top: 153px;
  left: 65px;
}

.sub-retangle {
  margin-left: 47px;
}

.header__title {
  left: 44px;
}

.header__suptitle {
  left: 44px;
}
.header-img {
  left: 467px;
}
.ellipse__img {
  left: 220px;
}

.burger-price {
  left: 272px;
}

.price__num {
  margin-left: -12px;
}

}